.ant-tabs-card-bar {
  user-select: none;
}
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
  background: transparent;
  border: none;
  color: #fff;
  line-height: 40px;
  border-radius: 2px 2px 0 0;
}
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
  background: #fff;
  color: #1890ff;
  border-radius: 2px 2px 0 0;
}
.ant-tabs-bar {
  border: none;
}
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab .ant-tabs-close-x {
  margin-left: 8px;
  color: rgba(255, 255, 255, 0.5);
}
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab .ant-tabs-close-x:hover {
  color: #fff;
}
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active .ant-tabs-close-x {
  color: rgba(0, 0, 0, 0.5);
}
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active .ant-tabs-close-x:hover {
  color: #000;
}
.no-flex > .ant-tabs-content > .ant-tabs-tabpane-inactive,
.ant-tabs-no-animation > .ant-tabs-content > .ant-tabs-tabpane-inactive {
  display: none;
}
#ant-collapse-item .ant-collapse-header {
  background-color: #fff;
  color: #333333;
  font-weight: 700;
}
.ant-table-thead {
  background-color: #eeeeee;
}
.ant-table-thead .ant-table-column-title {
  color: #242424;
}
.ant-table.ant-table-small .ant-table-title,
.ant-table.ant-table-small .ant-table-footer,
.ant-table.ant-table-small .ant-table-thead > tr > th {
  padding: 4px 8px !important;
}
.ant-table.ant-table-small .ant-table-tbody > tr > td {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 2px 8px !important;
}
.ant-table-small > .ant-table-content > .ant-table-body {
  margin: 0;
}
.ant-table-small > .ant-table-content .ant-table-header {
  background-color: #eeeeee;
  /* margin-bottom: -18px !important; */
}
.ant-table-small > .ant-table-content .ant-table-placeholder,
.ant-table-small > .ant-table-content .ant-table-row:last-child td {
  border-bottom: 0 !important;
}
.ant-table-small tr.ant-table-expanded-row td > .ant-table-wrapper {
  margin: 5px 0;
}
.ant-table-body tbody > tr:nth-child(even) {
  background-color: #f5f5f5;
}
